.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer_logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}

.footer-links li{
    cursor: pointer;

}

